<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Inserting data by using FormView</h1>

        <form method="POST">
            {% csrf_token %}

            <table>
                <tr>
                    <td>{{form}}</td>
                </tr>
            </table>
            <br>
            <input type="submit" value="FormView_Data_Submit">

            
        </form>
    </center>
</body>
</html>